<div class="shell">
  <aside class="sidebar">
    <div class="brand">
      <div class="brand-mark">J</div>

      <div>
        <h2>Jewels</h2>
        <p>Inventory & Sales</p>
      </div>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/inventory" routerLinkActive="active">Inventario</a>

      <a
        routerLink="/product-management"
        routerLinkActive="active"
        *ngIf="user?.role === 'ADMIN' || user?.role === 'WAREHOUSE'"
      >
        Gestión productos
      </a>

            <a
        routerLink="/suppliers"
        routerLinkActive="active"
        *ngIf="user?.role === 'ADMIN' || user?.role === 'WAREHOUSE'"
      >
        Proveedores
      </a>

      <a
        routerLink="/customers"
        routerLinkActive="active"
        *ngIf="user?.role === 'ADMIN' || user?.role === 'SELLER'"
      >
        Clientes
      </a>

      <a
        routerLink="/sales"
        routerLinkActive="active"
        *ngIf="user?.role === 'ADMIN' || user?.role === 'SELLER'"
      >
        Ventas
      </a>
    </nav>

    <div class="sidebar-card">
      <span class="sidebar-card-label">Base operativa</span>
      <strong>Inventario + Productos + Ventas</strong>
      <p>
        Inventario consulta stock. Gestión productos administra catálogo.
        Ventas registra transacciones.
      </p>
    </div>
  </aside>

  <div class="main-area">
    <header class="topbar">
      <div>
        <h1>Panel de control</h1>
        <span>Gestiona tu joyería de forma simple y clara</span>
      </div>

      <div class="topbar-actions">
        <div class="user-chip" *ngIf="user">
          <div class="avatar">{{ user?.fullName?.[0] || 'U' }}</div>

          <div class="user-meta">
            <strong>{{ user?.fullName }}</strong>
            <small>{{ user?.role }}</small>
          </div>
        </div>

        <button class="app-btn app-btn-primary" (click)="logout()">Salir</button>
      </div>
    </header>

    <main class="page-container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>